.navbar {
    background-color:#5F4B8B;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #5F4B8B;
}

.text_icon{
    margin: 10px;
}

.getLaunchButton{
    width: 100px;
    height: 100px;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }